body.container {
  padding-top: 90px;  
  padding-bottom: 50px; 

:root {
  scroll-behavior: auto;
}

.card {
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}